.search-bar {
  max-width: 48rem;
  margin: 2.4rem auto;
  position: relative;
  &__input {
    appearance: none;
    background-color: $color-white;
    transition: background-color 0.5s;
    border: 1px solid $color-primary-dark;
    border-radius: 1rem;
    padding: 0.8rem;
    width: 100%;
    &:focus {
      outline: none;
      border-color: $color-primary;
    }
    &::placeholder {
      color: $color-primary-light;
    }
    &::-webkit-search-cancel-button {
      cursor: pointer;
      padding: 0.2rem;
    }
  }
  &__icon {
    position: absolute;
    right: 0;
    top: 50%;
    color: $color-primary-light;
    transform: translateY(-50%);
    padding: 0.4rem;
  }
}
