//COLORS
$color-primary: #0760fb;
$color-primary-light: #83affd;
$color-primary-dark: #03307d;
$color-primary-lightest: #e6f0ff;

$color-gray: #999999;
$color-gray-light: #c1c1c1;
$color-gray-dark: #5b5b5b;

$color-white: #ffffff;
$color-black: #000000;

//FONT
$default-font-size: 1.6rem;
$default-font-family: 'Inter';
$default-font-weight: 500;
$default-line-height: 1.5;

//GRID
$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

:root {
  --color-primary: #0760fb;
  --color-primary-light: #83affd;
  --color-primary-dark: #03307d;
  --color-primary-lightest: #e6f0ff;
  --color-gray: #999999;
  --color-gray-light: #c1c1c1;
  --color-gray-dark: #5b5b5b;
  --color-white: #ffffff;
  --color-black: #000000;
}
